#Maizen {
  background-color: aqua;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 2px solid orangered;
}

.links {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

a {
  color: rgb(140, 255, 159);
}

body {
  background-image: url('https://assets.bonappetit.com/photos/5d2749d767286b00089ebc15/4:3/w_1772,h_1329,c_limit/Basically-Corn-Macro.jpg'); /* Replace with your image path */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: 100% 100%; /* Ensures the image covers the entire background */
  background-attachment: fixed; /* Keeps the background image fixed during scrolling */
        }

button {
  border-radius: 10px;
  background-color: black;
}
