body {
  background-color: greenyellow;
}

.Note {
  font-style: italic;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: blueviolet;
  color: antiquewhite;
}

h5 {
  font-size: larger;
  background-color: brown;
  color: white;
}

iframe {
  border: solid 5px black;
  border-radius: 50px;
  height: 670px;
  width: 100%;
}

#tiny-fishing {
  color: antiquewhite;
}

.Title {
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  background-color: blueviolet;
  color: aliceblue;
}

.link {
  font-size: h5;
  background-color: brown;
  color: rgb(116, 217, 228);
}

#drivemad-homepage-button {
  background-color: rgb(102, 216, 255)
}

#drive-mad-homepage-button{
  background-color: chartreuse;
}

.note-link {
  font-style: italic;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: blueviolet;
  color: antiquewhite;
}

.fullscreen-button {
  width: 100%; 
  height: 35px; 
  background-color: orange;
  font-size: medium;
}

.maizen-button {
  padding: 20px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif
}
.maizen-button: hover {
  background-color: #0056b3;
}

